[Desktop Entry]
Type=Application
Name=Kiri Store
GenericName=App Store for GitHub Releases
Comment=A cross-platform app store for GitHub releases
Icon=zed.rainxch.kiristore
Exec=kiristore %u
Terminal=false
StartupNotify=true
Categories=Development;PackageManager;
Keywords=GitHub;Apps;Releases;APK;Store;
StartupWMClass=Kiri-Store
MimeType=x-scheme-handler/kiristore;
